.clients__heading, .team__heading, .about__heading {
  text-align: center;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 3%;
}

.portfolio-header-nav__link, .header-nav__link {
  position: relative;
  color: #212121;
  line-height: 1.1428571429;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-header-nav__link:not(.portfolio__header__nav__link--active)::after, .header-nav__link:not(.header-nav__link--active)::after {
  content: " ";
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 27px);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

section {
  margin: 0 auto;
}

header {
  margin: 0 auto;
}

footer {
  margin: 0 auto;
}

input {
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto";
}

.hero {
  color: #2f303a;
}

svg {
  fill: #757575;
}

input:focus {
  outline: none;
}

@-webkit-keyframes no__active {
  0% {
    color: #212121;
  }
  50% {
    color: #2196f3;
  }
  100% {
    color: #212121;
  }
}

@keyframes no__active {
  0% {
    color: #212121;
  }
  50% {
    color: #2196f3;
  }
  100% {
    color: #212121;
  }
}
@-webkit-keyframes clients__animation {
  0% {
    border-color: #757575;
  }
  50% {
    border-color: #2196f3;
  }
  100% {
    border-color: #757575;
  }
}
@keyframes clients__animation {
  0% {
    border-color: #757575;
  }
  50% {
    border-color: #2196f3;
  }
  100% {
    border-color: #757575;
  }
}
@-webkit-keyframes clients__animation__svg {
  0% {
    fill: #757575;
  }
  50% {
    fill: #2196f3;
  }
  100% {
    fill: #757575;
  }
}
@keyframes clients__animation__svg {
  0% {
    fill: #757575;
  }
  50% {
    fill: #2196f3;
  }
  100% {
    fill: #757575;
  }
}
.animate__zoomInDown {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header-contact__item--bib {
  width: 142px;
  height: 16px;
}

.header__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: #000000;
}
.header__logo--blue {
  color: #2196f3;
}
.header__logo--black {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header-nav,
.header-nav__list,
.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 17px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 315px;
    margin-right: 0px;
    justify-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__item--bib {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item--bib {
    margin: 0;
    width: 142px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item--envelope {
    width: 161px;
  }
}

.header {
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}
.header__burgermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__burgermenu {
    display: none;
  }
}
.header__burgermenu--icon {
  width: 24px;
  height: 16px;
  fill: #212121;
}
.header--flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .header--flex {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header--flex {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header--flex {
    width: 1200px;
  }
}

header li {
  display: none;
}
@media screen and (min-width: 768px) {
  header li {
    display: block;
  }
}

header li a:hover {
  color: #2196f3;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  line-height: 1.1428571429;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover svg {
  fill: #2196f3;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contact__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__icon--envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
}
.header-contact__icon--smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.header-nav__link:hover::after {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.header-nav__link:not(.header-nav__link--active):hover::after {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.header-nav__link--no-active:hover {
  -webkit-animation-name: no__active;
          animation-name: no__active;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-nav__link--active {
  color: #2196f3;
  position: relative;
}
.header-nav__link--active::after {
  content: " ";
  display: block;
  width: 48px;
  left: -1.5px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  top: calc(100% + 27px);
}

.portfolio-header {
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
@media screen and (min-width: 1200px) {
  .portfolio-header {
    margin-bottom: 94px;
  }
}

.portfolio-header-nav__link--active {
  color: #2196f3;
  line-height: 1.1428571429;
  font-size: 14px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  position: relative;
}
.portfolio-header-nav__link--active::after {
  content: " ";
  display: block;
  width: 100%;
  left: 0px;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  top: calc(100% + 27px);
}

.portfolio-header-nav__link:hover::after {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/studio-img/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/studio-img/hero.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    margin-bottom: 94px;
  }
}

.hero__title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.6153846154;
  font-size: 26px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__btn {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background-color: #188ce8;
  color: #ffffff;
  height: 50px;
  line-height: 1.875;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
  .hero__btn {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.hero__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.advantage-list__title {
  color: #212121;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  margin-bottom: 10px;
}

.advantage-list__subtitle {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}

.advantage {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    margin-bottom: 94px;
  }
}

.advantage-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantage-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.advantage-list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 480px) {
  .advantage-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list__item {
    width: 270px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.advantage-list__item::before {
  content: " ";
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantage-list__item--details::before {
  background-image: url(../img/studio-img/antena.svg);
}
.advantage-list__item--punctuality::before {
  background-image: url(../img/studio-img/timer.svg);
}
.advantage-list__item--planning::before {
  background-image: url(../img/studio-img/graphik.svg);
}
.advantage-list__item--technologies::before {
  background-image: url(../img/studio-img/astronaut.svg);
}

.about {
  display: none;
  height: 386px;
  margin: 0 auto;
  margin-bottom: 94px;
  width: 1200px;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about--flex {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.about-list__item {
  position: relative;
}
.about-list__item:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}
.about-list__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.about-list__title--container {
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
}

.team {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    margin-bottom: 94px;
  }
}
.team__heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__subtitle {
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.team__img {
  width: 100%;
}
.team__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
}
.team--flex {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .team--flex {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team--flex {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team--flex {
    width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .team-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    height: 428px;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 24px;
  gap: 10px;
}

.links-item {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links-item:hover svg {
  fill: #ffffff;
}
.links-item:hover {
  background-color: #2196f3;
  border-radius: 22px;
  cursor: pointer;
}
.links-item__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-item__icon {
  width: 20px;
  height: 20px;
}
.links-item__icon--instagram {
  width: 20px;
  height: 20px;
}
.links-item__icon--twitter {
  width: 20px;
  height: 16.25px;
}
.links-item__icon--facebook {
  width: 10px;
  height: 20px;
}
.links-item__icon--linkedin {
  width: 20px;
  height: 20px;
}

.clients {
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .clients-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .clients-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-container {
    width: 1200px;
  }
}

.clients__item {
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}
.clients__item:hover svg {
  -webkit-animation-name: clients__animation__svg;
          animation-name: clients__animation__svg;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.clients__item:hover {
  border-color: #2196f3;
  cursor: pointer;
  -webkit-animation-name: clients__animation;
          animation-name: clients__animation;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.clients__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__heading {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
}
.clients__logo--company {
  width: 106px;
  height: 60px;
}

.filter-list__btn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  padding: 6px 22px;
  border-radius: 4px;
}
.filter-list__btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media screen and (min-width: 448px) {
  .filter-list {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    width: 575px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.portfolio__item {
  height: 404px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio__item:last-child {
    justify-self: start;
  }
}

.portfolio__link {
  display: block;
  border: 1px solid rgb(238, 238, 238);
  width: 100%;
  height: 404px;
}
.portfolio__link--box {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.portfolio__link:hover .overlay-box {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overlay-box {
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  transition: transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93), -webkit-transform 600ms cubic-bezier(0.42, 0, 0.12, 0.93);
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay-box__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  text-align: left;
}

.portfolio__img {
  width: 100%;
  height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__title {
  color: #212121;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio__note {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  margin-top: 4px;
  margin-left: 24px;
}

.portfolio-main {
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-main {
    margin-bottom: 94px;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .portfolio--flex {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio--flex {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio--flex {
    width: 1200px;
  }
}

.footer {
  background-color: #2f303a;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 252px;
  }
}

.footer__logo--blue {
  color: #2196f3;
}

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: #ffffff;
}

.footer-contact__location {
  color: #ffffff;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer--flex {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer--flex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
}

.footer--container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .footer--container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer--container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--container {
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__address {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--tablet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }
}

.subscribe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.subscribe-list__item {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.subscribe-list__link {
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe-list__link:hover {
  background-color: #2196f3;
}

.subscribe-list__icon {
  fill: #ffffff;
}
.subscribe-list__icon--instagram {
  width: 20px;
  height: 20px;
}
.subscribe-list__icon--twitter {
  width: 20px;
  height: 16.25px;
}
.subscribe-list__icon--facebook {
  width: 10px;
  height: 20px;
}
.subscribe-list__icon--linkedin {
  width: 20px;
  height: 20px;
}

.subscribe__title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  margin-top: 60px;
  width: 206px;
  height: 80px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.newsletter {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .newsletter {
    width: 570px;
    height: 86px;
  }
}

.newsletter__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .newsletter__title {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__title {
    margin-right: 363px;
    justify-self: start;
  }
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .newsletter__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
}

.newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.newsletter__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}
.newsletter__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}
.newsletter__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}
.newsletter__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}
.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}

.newsletter__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.newsletter__btn span {
  display: block;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
}

.newsletter__btn img {
  width: 24px;
  height: 24px;
}

.backdrop {
  opacity: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus + .backdrop {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.backdrop .modal {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.no-scroll {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  min-width: 400px;
  min-height: 300px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.modal-form__label:nth-child(-n+3) {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__label {
  position: relative;
  width: 100%;
}

.modal-btn {
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  display: inline-block;
}

label svg {
  fill: #212121;
  position: absolute;
  bottom: 14px;
}

.modal-btn:hover .modal__close__icon {
  fill: #2196f3;
}

.modal__title {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

.modal-form__title {
  color: #757575;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  margin-bottom: 4px;
  text-align: left;
}

.modal-form__field {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__comment {
  height: 120px;
}

.checkbox__title {
  font-weight: 400;
  line-height: 1.7142857143;
  color: #757575;
  text-align: left;
}
@media screen and (min-width: 480px) {
  .checkbox__title {
    font-size: 12px;
  }
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.checkbox__title--conditions {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}

.modal__submit {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

textarea {
  padding: 12px 16px;
  resize: none;
  outline: none;
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: left;
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: left;
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: left;
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: left;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: left;
}

.checkbox {
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.checkbox::after {
  content: " ";
  background-image: url(../img/studio-img/checkbox.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}
.checkbox:checked::after {
  display: none;
}

.modal-form__input__icon--tell {
  fill: #757575;
  width: 13px;
  height: 13px;
  left: 14px;
}
.modal-form__input__icon--poshta {
  fill: #757575;
  left: 13.5px;
  width: 15px;
  height: 12px;
}
.modal-form__input__icon--name {
  fill: #757575;
  left: 15px;
  width: 12px;
  height: 12px;
}

.modal-form__input {
  height: 40px;
  padding-left: 42.5px;
  padding-right: 15px;
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}
.modal-form__input:hover + svg, .modal-form__input:focus + svg {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: #ffffff;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  display: none;
}
@media screen and (min-width: 480px) {
  .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .menu-toggle {
    display: block;
  }
}

.mobile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.mobile-menu__item--link--current {
  color: #2196f3;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 2%;
  margin-top: 38px;
  margin-left: 40px;
}

.mobile-menu__item--link {
  color: #212121;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 2%;
  margin-top: 38px;
  margin-left: 40px;
}

.mobile-menu__item--nav {
  color: #212121;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 2%;
  margin-top: 38px;
  margin-left: 40px;
}

.mobile-close-btn {
  fill: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-margin {
  margin-bottom: 206px;
}

.mobile-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #757575;
}

.mobile-tel {
  color: #2196f3;
}

.mobile-media {
  color: #2196f3;
  padding-right: 5px;
  border-right: 1px solid #757575;
}

.mobile-media:last-child {
  border: none;
}

.mobile-media--gap {
  margin-left: 40px;
  color: #2196f3;
  padding-right: 5px;
  border-right: 1px solid #757575;
}/*# sourceMappingURL=main.css.map */