.subscribe-list {
  display: flex;
  gap: 10px;
}
.subscribe-list__item {
  width: 44px;
  height: 44px;

  border-radius: 22px;
}
.subscribe-list__link {
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $blue-color;
  }
}
.subscribe-list__icon {
  fill: $white-color;

  &--instagram {
    width: 20px;
    height: 20px;
  }
  &--twitter {
    width: 20px;
    height: 16.25px;
  }
  &--facebook {
    width: 10px;
    height: 20px;
  }
  &--linkedin {
    width: 20px;
    height: 20px;
  }
}



.subscribe__title {

  color: $white-color;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 3%;
    text-align: center;
  text-transform: uppercase;
}
.subscribe {

margin-top: 60px;
    @media screen and (min-width: $desktop-adapt) {
        margin: 0;
    align-self: center ;}

  width: 206px;
  height: 80px;
}



.newsletter {

        width: 100%;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px ;
    // }
    @media screen and (min-width: $desktop-adapt) {
  width: 570px;
  height: 86px;


}
  display: flex;
  flex-direction: column;



}
.newsletter__title {
  color: $white-color;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  @media screen and (min-width: $mobile-adapt) {
    margin-top: 0px;
    margin-bottom: 20px;
  
  }
  @media screen and (min-width: $desktop-adapt) {
    margin-right: 363px;
    justify-self: start;
  }
  text-align: left;
  text-transform: uppercase;
}
.newsletter__form {

  display: flex;
  width: 100%;

    flex-direction: column;
    align-items: center;

@media screen and (min-width: $desktop-adapt) {
        flex-direction: row;
        gap: 10px;

}


}
.newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: inherit;

    width: 100%;
    margin-bottom: 20px;

@media screen and (min-width: $tablet-adapt) {
    width: 450px;
    
}
@media screen and (min-width: $desktop-adapt) {
          width: 358px;
          margin-bottom: 0;
}

  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;

  &::placeholder {
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: calc(20 / 16);

  text-align: left;
}
}

.newsletter__btn {
  width: 200px;

  height: 50px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: $blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.newsletter__btn span {
  display: block;
  font-size: 16px;
  color: $white-color;
  font-weight: 700;
  line-height: calc(30 / 16);
  text-align: center;
}
.newsletter__btn img {
  width: 24px;
  height: 24px;
}
