.hero {
  margin-top: 80px;
  max-width: 480px;
  height: 400px;
  margin: 0 auto 94px;
  align-items: center;
  justify-content: center;
  display: flex;

  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("./img/studio-img/hero-mob.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("./img/studio-img/hero-mob@2x.jpeg");
  }

  @media screen and (min-width: $tablet-adapt) {
    max-width: 768px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("./img/studio-img/hero-tab.jpeg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("./img/studio-img/hero-tab@2x.jpeg");
    }
  }

  @media screen and (min-width: $desktop-adapt) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("./img/studio-img/hero.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("./img/studio-img/hero@2x.jpeg");
    }
  }
}


.hero__title {
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;

      line-height: calc(42 / 26);
  font-size: 26px;

  margin-bottom: 30px;
    

  @media screen and  (min-width: $desktop-adapt) {
    font-size: 44px;
  } 





}
.hero--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  background-color: $blue-button;
  color: $white-color;

@media screen and (min-width: $mobile-adapt) {
  width: 200px
}
@media screen and (min-width: $desktop-adapt) {
  width: 216px;
}

  height: 50px;
    line-height: calc(30 / 16);
      font-size: 16px;
  border-radius: 4px;

  font-weight: 700;

  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero__btn:hover {
  transform: scale(1.1);
}
