.info{
   padding-top: 20px;
   padding-left: 215px;
    &_one{
        font-family: "Roboto", sans-serif;
        font-weight:400; 
        color: black;
        font-size: 14px;
    }
    &_two{
        font-family: "Roboto", sans-serif;
        font-weight:400; 
        color:rgba(255, 255, 255, 0.6) ;
        font-size: 14px;
        padding-top: 9px;
    }
    &_thre{
        font-family: "Roboto", sans-serif;
        font-weight:400;
        color:rgba(255, 255, 255, 0.6) ;
        font-size:14px ; 
        padding-top: 9px;
    }
}