$logo-black: #000000;
$blue-color: #2196f3;
$white-color: #ffffff;
$black-color: #212121;
$grey-color: #757575;
$footer-grey: #ffffff99;
$blue-button: #188ce8;
$header-border: rgb(236, 236, 236);
$hero_footer-background: #2f303a;
$our-team: #f5f4fa;
$item-border: rgb(238, 238, 238);
$main-font: "Roboto";
